.AboutMe {
    /* background-color:black; */
    background-image: url("../../images/project.jpg");
    background-size: cover;
    height: 100vh;
    padding-bottom: 5%;
    color:black;
}
.AboutMe h1 {
    color:black;
}
.AboutMe .container {
    display:flex;
}
.AboutMe .container .text{
    width: 47%;
    margin-left: 3%;
font-weight: 5000;


}
.AboutMe .container .text h2 {
    font-weight: 900;
    font-size:46px;
}
.AboutMe .container .photo {
    display:flex;
    width:50%;
    justify-content: center;
}
.AboutMe .me {
    height: 500px;
    border-radius: 10%;
}

