.Contact {
    background-image: url("../../images/contact.jpg");
    height: 300px;
    display:flex;
    align-items: center;
    background-size: cover;
}

.Contact .ContactIcons {
    width: 100%;
    display:flex;
    justify-content: center;
}

.Contact .ContactIcons svg path {
    cursor:pointer;
}
